.paginator {
  display: inline-block;

  select {
    margin-top: 10px;
    width: 50px;
  }

  .number {
    display: flex;
    a, span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      font-size: 18px;
      cursor: pointer;
    }

    span {
      cursor: default;
    }

    .current {
      background-color: #4CAF50;
      color: white;
    }
  }
}